<% content_for :meta do %>
	<% meta :keywords => %w(chupandero cerveza puebla amigos) %>
	<% meta [:property => "og:image", :content => "https://launchrock-assets.s3.amazonaws.com/facebook-files/OM38ZA8H_1361245291491.jpg?_=1"] %>
	<% meta [:property => "og:description", :content => "Descubre los mejores bares de Puebla - chupandero.com"] %>
	<% meta [:property => "og:type", :content => "website"] %>
	<% meta [:property => "og:title", :content => " Chupandero - Descubre los mejores bares de Puebla"] %>
	<% meta [:property => "og:url", :content => "http://chupandero.com"] %>
<% end %>

<!-- Begin LaunchRock Widget -->
<div id="lr-widget" rel="OM38ZA8H"></div>
<script type="text/javascript" src="//ignition.launchrock.com/ignition-current.min.js"></script>
<!-- End LaunchRock Widget -->