<div class="span10">
	<div id="footer">
		<div class="span10">
			<p id="links">
				<%= link_to "Sobre el chupandero", "#"%>
				<%= link_to "Equipo", "#" %>
				<%= link_to "Terminos de uso", "#" %>
				<%= link_to "Contacto", "#" %>
			</p>
	</div>
</div>